@include exports('addons-bmrg-featureHeader') {
  .#{$prefix}--bmrg-feature-header {
    background-color: $ui-01;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  .#{$prefix}--bmrg-feature-header__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
