$font-family: "IBM Plex Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;

html {
  font-size: 100%;
}

body {
  font-family: $font-family;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

// Override reset to fix issue w/ Safari
button,
html [type="button"], 
[type="reset"],
[type="submit"] {
  -webkit-appearance: initial;
}
